# Copy to infra/integration/.env if you want to override defaults.

POSTGRES_USER=mbos
POSTGRES_PASSWORD=mbos_dev_password
POSTGRES_DB=mbos
POSTGRES_PORT=15432

MONGO_ROOT_USERNAME=mbos
MONGO_ROOT_PASSWORD=mbos_dev_password
MONGO_DB=mbos
MONGO_PORT=17017

REDIS_PORT=16379

MINIO_ROOT_USER=mbos
MINIO_ROOT_PASSWORD=mbos_dev_password
MINIO_BUCKET=mbos-dev
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB=keycloak
KEYCLOAK_PORT=18080
